{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Successful</title>
    <link rel="stylesheet" href="{% static 'style_succesful.css' %}" />
</head>
<body>
    <div class="box1">
        <div class="box_content">
            <h1>Payment Successful</h1>
            <img src="{% static product_image %}" >
            <div class="text">
                
            <h1>Payment for {{ product_name }}</h1>
            <p class="price">Your payment has been processed successfully.</p>
           </div>
        </div>
    </div>
    

</body>
</html>